*,
html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(8, 0, 62);
}

.container {
    display: grid;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
    margin: 24px 54px;
    border-radius: 12px;
    overflow: hidden;
}


.header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 56, 159);
    border-bottom: 1px solid rgb(8, 0, 69);
}

.library {
    font-size: 2.6rem;
    font-weight: 700;
    color: #ffffff;
}

.add {
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    background-color: aliceblue;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 220px));
    gap: 16px;
    padding: 16px;
    background-color: #3e3b68;
}

.card {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.subCard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

#authorLabel,
#pageLabel {
    font-weight: 700;
}

.pages {
    font-size: 1rem;
}

.buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.buttons>button {
    flex: 1 1;
    border: none;
    display: flex;
    border: 2px solid rgb(61, 61, 61);
    background-color: rgb(66, 38, 131);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
}